html {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


main {
    padding: 2rem;
}

#home {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.introduction {
    text-align: center;
}

main>div {
    margin-bottom: 2rem;
}

.menu-item {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    box-shadow: 1px 3px 9px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 3px 9px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 3px 9px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}

li {
    margin-left: 1rem;
}

img {
    display: block;
    max-width: 100%;
}
